@import url('https://fonts.cdnfonts.com/css/motiva-sans');
@import url('https://fonts.cdnfonts.com/css/noto-sans');

:root{
    --Blue: #1A9FFF;
    --BlueHi: #00BBFF;
    --GreenLow: #536904;
    --Green: #799905;
    --GreenHi: #a4d007;
    --Orange: #E35E1C;
    --Red: #D94126;
    --RedHi: #EE563B;
    --DustyBlue: #417a9b;
    --LightBlue: #B3DFFF;
    --Yellow: #FFC82C;
    --ChalkyBlue: #66C0F4;
}

html{
    font-family: "Motiva Sans", Meiryo, "Noto Sans" !important;
    font-size: 20px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1b2838;
    color: #fff;
}

p.version{
    all: unset;
    color: #b4b4b4;
}

p.width-error{
    all: unset;
    color: red;
}

p.fade-in{
    all: unset;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#infobar{
    background: linear-gradient(to bottom, var(--Green), var(--GreenLow));
    border-top: solid 1px  var(--GreenHi);
    border-radius: 5px 5px 1px 1px;
    color: #fff;
    font-size: medium;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-header{
    font-size: large;
    border-bottom: 1px solid #686868;
    margin-bottom: 20px;
    align-self: center;
}

#app{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#markdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 300px;
}

textarea#editor{
    min-width: 300px;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #121820;
    color: #fff;
    border: none;
    resize: none;
}

textarea#editor:active,
textarea#editor:focus{
    outline: none;
    border: none;
}

#preview{
    /* Steam uses a constant 638px width */
    min-width: 638px;

    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    border-left: solid 1px #686868;
}

#preview-container{
    /* Steam's font color */
    color: #969696 
}

#preview-container .header{
    color: #66C0F4;
}

#preview-container a{
    text-decoration: none;
    color: #fff;
}

#preview-container a:hover {
  text-decoration: none;
  color: #66C0F4;
}