@import url('https://fonts.cdnfonts.com/css/motiva-sans');
@import url('https://fonts.cdnfonts.com/css/noto-sans');

:root {
    --Blue: #1A9FFF;
    --BlueHi: #00BBFF;
    --GreenLow: #536904;
    --Green: #799905;
    --GreenHi: #a4d007;
    --Orange: #E35E1C;
    --Red: #D94126;
    --RedHi: #EE563B;
    --DustyBlue: #417a9b;
    --LightBlue: #B3DFFF;
    --Yellow: #FFC82C;
    --ChalkyBlue: #66C0F4;

    --hatched-glossy: (
        linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0) 20%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.35)),

        repeating-linear-gradient(-45deg,
            rgba(0, 0, 0, 0.15) 0px,
            rgba(0, 0, 0, 0.15) 2px,
            transparent 2px,
            transparent 4px);
    )
}

html {
    font-family: "Motiva Sans", Meiryo, "Noto Sans" !important;
    font-size: 20px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1b2838;
    color: #fff;
}

p.version {
    all: unset;
    color: #b4b4b4;
}

p.width-error {
    all: unset;
    color: red;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
    z-index: 999 !important;
    border-width: 1px 0 0 0;
    border-style: solid solid solid solid;
    border-color: #535353;
    background-color: #1b2838;
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0) 20%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.35)),

        repeating-linear-gradient(-45deg,
            rgba(0, 0, 0, 0.15) 0px,
            rgba(0, 0, 0, 0.15) 2px,
            transparent 2px,
            transparent 4px);
    position: relative;
    height: fit-content;
    color: #fff;
    font-size: 0.8rem;
    padding: 15px;
    text-align: left;
}

#app {
    z-index: 0;
    height: 100%;
}

#line-numbers {
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background-color: #121820;
    color: #fff;
    font-size: small;
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
    border-right: solid 1px #686868;
    z-index: 1;
}

#line-numbers>span {
    display: block;
}

#editor-wrapper {
    display: flex;
    height: 100%;
}

#editor {
    padding-left: 40px;
    white-space: pre;
}

.untrusted-domain {
    all: unset;
    font-size: 10px;
    color: #7e8391;
    padding: 4px;
}

#infobar {
    /* background: linear-gradient(to bottom, var(--Green), var(--GreenLow)); */
    background: var(--Green);
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0) 20%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.35)),

        repeating-linear-gradient(-45deg,
            rgba(0, 0, 0, 0.15) 0px,
            rgba(0, 0, 0, 0.15) 2px,
            transparent 2px,
            transparent 4px);
    border-top: solid 1px var(--GreenHi);
    border-radius: 5px 5px 1px 1px;
    color: #fff;
    font-size: medium;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-header {
    font-size: large;
    border-bottom: 1px solid #686868;
    margin-bottom: 20px;
    align-self: center;
}

#app {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 10px;
}

#markdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
}

.editor-settings {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #969696;
    font-size: small;
    border-bottom: 1px solid #969696;
}

textarea#editor {
    min-width: 250px;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #121820;
    color: #fff;
    border: none;
    resize: none;
}

textarea#editor:active,
textarea#editor:focus {
    outline: none;
    border: none;
}

#preview {
    /* Steam uses a constant 638px width */
    max-width: 638px;
    min-width: 638px;
    width: 638px;

    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    border-left: solid 1px #686868;
}

#preview-container {
    /* Steam's font color */
    font-size: 14px;
    word-wrap: break-word;
    margin-top: 10px;
    line-height: 20px;
    padding-bottom: 16px;
    padding-right: 8px;
    color: #acb2b8;
}

#preview-container .header {
    color: #66C0F4;
}

#preview-container a {
    text-decoration: none;
    color: #fff;
}

#preview-container a:hover {
    text-decoration: none;
    color: #66C0F4;
}